@import url("http://fonts.cdnfonts.com/css/berkshire-swash");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cousine");

body {
  margin: 0;
  padding: 0;
}

* {
  background-color: #ffffff;
  font-family: "Roboto";
}

.container-auth {
  width: 90%;
  height: auto;
}

.myNav {
  justify-content: right;
  align-items: center;
}

.myNav-btn {
  background-color: #000000;
  margin-left: 15px;
  border-radius: 5px;
  width: 100px;
}
.myNav-btn-p {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
}

.myNav-btn-a {
  background-color: #ffffff;
  margin-left: 15px;
  border-radius: 5px;
  width: 100px;
  box-shadow: inset 0px 0px 3px 2px #000000;
}
.myNav-btn-p-a {
  font-weight: 700;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
}

.auth-title {
  font-family: "Berkshire Swash";
  font-style: normal;
}

.auth-btn-cont {
  display: flex;
  margin-top: 40px;
  margin-bottom: 30px;
  justify-content: center;
}

.auth-arrow {
  margin-left: 15px;
  background-color: inherit;
}
.about-hdr {
  font-family: "Berkshire Swash";
  font-style: normal;
}
.about-p {
  font-family: inherit;
  font-size: 18px;
  font-weight: 600;
}

.about-icons {
  text-decoration: none;
  color: #000;
}

.landing-btn {
  text-decoration: none;
  color: #000;
  text-align: right;
  font-family: "Cousine";
  font-style: normal;
  font-size: 20px;
  font-weight: 600;
}

.alert-link {
  text-decoration: none;
  background-color: inherit;
  font-weight: bold;
  color: inherit;
}

/* -----------for sidebarr--------------- */
.sidebar-container-s {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 400px;
  margin-left: 50px;
  padding: 5px;
  background-image: linear-gradient(to bottom right, black, white);
  border: none;
  border-radius: 10px;
}
.sidebar-container-h {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 400px;
  margin-left: 50px;
  padding: 5px;
  background-image: linear-gradient(to bottom right, black, white);
  border: none;
  border-radius: 10px;
}
.sb-cont-s {
  display: flex;
  flex-direction: column;
  background: none;
  align-items: center;
}
.sb-cont-h {
  display: flex;
  flex-direction: column;
  background: none;
  align-items: center;
}
.sb-btn-cont {
  display: flex;
  justify-content: right;
  background: none;
  width: 95%;
}
.sb-btn {
  text-align: right;
  cursor: pointer;
  background: none;
}
.sb-link-cont {
  margin-top: 40px;
  width: 80%;
  display: inherit;
  flex-direction: column;
  background: none;
}
.sb-link {
  display: inherit;
  text-decoration: none;
  font-size: 18px;
  color: white;
  width: fit-content;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 10px;
  font-weight: 600;
  height: 30px;
  background: none;
  align-items: center;
}
.sb-link:hover {
  color: black;
  background: white;
  border: none;
  border-radius: 20px;
}
